<!DOCTYPE html>
@{
    List<int> ids = (List<int>)ViewData["ids"];
}
<html>
<head>
    <title>ISTC C#</title>
</head>
<body>
    <div>
        <ul>
          
            @foreach (var id in ids)
            {
                @:barev
                <li>@id</li>
            }
        </ul>
    </div>
</body>
</html>