<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <appSettings>
    <add key="age" value="15"/>
    <add key="path" value="C:\Users\vanik.hakobyan\source\message.txt"/>
  </appSettings>
</configuration>
