<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" encoding="utf-8" name="MyName"
            fileName="C:/Logs/ISTC/Test/${logger}/${shortdate}.log"
            keepFileOpen="true" concurrentWrites="false"
            archiveEvery="Day" archiveAboveSize="2000000"
            archiveFileName="C:/Logs/ISTC/Test/Logs.zip"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd-HH-mm"
            layout="${longdate}|${threadid}|${level}|${message}|${exception:format=tostring}"
            enableFileDelete="true" enableArchiveFileCompression="true" maxArchiveFiles="100" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="MyName" />
  </rules>
</nlog>
