@model ISTC.FiveStage.AspNetCore.Views.Views_02.Models.People
@{
    ViewData["Title"] = "Home Page";
    Layout="_Layout";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    @await Html.PartialAsync("PartialHome",Model)
</div>
