@model ISTC.FiveStage.AspNetCore.Views.Views_02.Models.People
<div style="border: 1px dashed red; margin: 5px">
    <h3>Details (partial view)</h3>

    <p>Name @Model.Name</p>
    <p>Address @Model.Address</p>
    <p>Age @Model.Age</p>
</div>