@{
    ViewData["Title"] = "Home Page";
    string istc = ViewBag.ISTC;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://istc.am">@istc</a>.</p>
</div>
