@{
    ViewData["Title"] = "Home Page";
    var var = ViewBag.MyVar;
    var car = ViewData["Car"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>@var</p>
    <P>my car is @car</P>
</div>
